* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
h1,
h2 {
    margin: 0 0 0.6rem 0;
}
p {
    text-align: justify;
    line-height: 1.3rem;
}
.listStyleNone {
    list-style-type: none;
}

/* font sizing */
p,
label,
button,
a,
input,
textarea,
select {
    font-size: 15px;
}
h1,
h2 {
    font-size: 17px;
}
p a:hover {
    color: blue;
}

/* alignment */
.flexVertically {
    display: flex;
    flex-direction: column;
}

/* spacing */
.topSpaceBig {
    margin-top: 4rem;
}
.topSpace {
    margin-top: 2rem;
}
.topSpaceSmall {
    margin-top: 0rem;
}
.bottomSpace {
    margin-bottom: 3rem;
}

/* overall layout */
.layout {
    padding-top: 5.8em;
    display: grid;
    grid-template-columns: 1fr 70rem 1fr;
}
.left,
.right,
.content {
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}
.shadowBox {
    padding: 2rem 3rem;
    width: 68rem;
    height: 150vh;
    background-color: white;
    box-shadow: 0 0 0.2rem 0.05em rgb(220, 220, 220);
}

/* navigation & menu */
header {
    position: fixed;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: 5.8rem;
    grid-template-columns: 1fr 68rem 1fr;
    background-color: rgb(12, 166, 12);
}
nav {
    padding: 0 3rem;
    display: flex;
    gap: 1rem;
}
.navEntry {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    border: solid rgb(12, 166, 12) 1px;
    color: rgb(215, 248, 215);
    font-size: 18px;
    font-weight: bold;
}
.navEntry:hover {
    border: solid rgb(215, 248, 215) 1px;
}
nav .active {
    background-color: rgb(215, 248, 215);
    border: solid rgb(215, 248, 215) 1px;
    color: rgb(12, 166, 12);
}
nav .active:hover {
    border: solid rgb(215, 248, 215) 1px;
}
