* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
h1 {
    margin: 3rem 0 0 0;
}

/* Font sizing */
p,
label,
button,
a {
    font-size: 15px;
}
h1,
.menuEntry {
    font-size: 22px;
}

.headingInForm {
    font-size: 17px;
    margin-bottom: 0.5rem;
}

/* main Layout */
.mainContainer {
    display: flex;
    margin: 0 40% 0 23%;
}
.logo {
    margin-top: 2rem;
    color: white;
    height: 3rem;
    font-size: 30px;
    font-weight: bold;
    background-color: green;
    padding: 0.5rem;
    border: 1px solid black;
}
nav {
    display: flex;
    height: 6rem;
    background-color: green;
}
menu {
    display: flex;
    margin: 2.2rem 0 0 27rem;
    width: 62.5%;
}
.menuEntry {
    padding: 1rem;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}

.active {
    background-color: white;
    color: green;
}
.sideImageLeft,
.sideImageRight {
    top: 6rem;
    position: absolute;
}
.sideImageLeft {
    width: 15%;
}
.sideImageRight {
    right: 0;
    width: 30%;
}

/* Buttons and forms */
button {
    width: 5rem;
    padding: 0.2rem;
    margin-top: 2rem;
}
.headingInForm {
    font-weight: bold;
    margin-top: 2.5rem;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin: 0.5rem 0.5rem 0.3rem 0;
}
textarea,
input {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    padding: 0.2rem;
}
input {
    height: 1.7rem;
}

/* Layout in general */
.topSpaceBig {
    margin-top: 3rem;
}

.flexHorizontally {
    display: flex;
}

/* new litter */
.litterForm {
    width: 36rem;
}
.flexHorizontallyInputs {
    display: flex;
    align-items: flex-start;
    margin-top: 0.7rem;
    flex-wrap: nowrap;
}
.inputWide {
    width: 21rem;
}
.inputMiddle {
    width: 7rem;
}
.inputNarrow,
.inputTime {
    width: 4rem;
}
.inputTime {
    margin-right: 1rem;
}
.labelFixedWidth {
    width: 13rem;
}
