* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    height: 100%;
    overflow: hidden;
}
html {
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}
h1,
h2 {
    margin: 0 0 0.6rem 0;
}
p {
    text-align: justify;
    line-height: 1.3rem;
}
.listStyleNone {
    list-style-type: none;
}

/* font sizing */
p,
label,
button,
a,
input,
textarea,
select {
    font-size: 15px;
}
h1,
h2 {
    font-size: 17px;
}
p a:hover {
    color: blue;
}

/* alignment */
.flexVertically {
    display: flex;
    flex-direction: column;
}

/* spacing */
.topSpaceBig {
    margin-top: 4rem;
}
.topSpace {
    margin-top: 2rem;
}
.topSpaceSmall {
    margin-top: 0rem;
}
.bottomSpace {
    margin-bottom: 3rem;
}

/* overall layout */
.layoutContent {
    display: flex;
    height: 100vh;
}
.left,
.center,
.right {
    margin-top: 5rem;
}
.center {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    box-shadow: 0 0 0.5em 0.2em rgb(225, 225, 220);
}
.left,
.right {
    width: 25rem;
    background-color: rgb(241, 241, 241);
}
.content {
    height: 150vh;
}

/* navigation & menu */
header {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-rows: 5rem;
    grid-template-columns: 25rem 1fr 25rem;
    background-color: green;
    align-items: center;
}
.nav {
    display: flex;
    margin: 2.2rem 0 0 0;
    width: 62.5%;
}
.navEntry {
    font-size: 20px;
    padding: 0.8rem;
    margin-right: 0.8rem;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}
.active {
    background-color: white;
    color: green;
}
