* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5em;
}

/* font styling */
h1,
h2 {
    color: deeppink;
    font-weight: bold;
}
h1,
.navEntry {
    font-size: 1.2em;
}
h2 {
    font-size: 1.1em;
    margin-top: 1.5em;
}
p,
label,
button,
input,
textarea,
select {
    font-size: 1em;
    color: rgb(68, 68, 68);
}
a {
    font-size: 1em;
    text-decoration: none;
}

p a:hover {
    color: blue;
}

.errorBanner {
    background-color: lab(94.68% 2.89 -1.71);
    color: deeppink;
    margin-top: 1em;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/* alignment */
.flexVertically {
    display: flex;
    flex-direction: column;
}

/* spacing */
h1,
h2 {
    margin-bottom: 0.6em;
}
.topSpaceBig {
    margin-top: 4em;
}
.topSpace {
    margin-top: 2em;
}
.topSpaceSmall {
    margin-top: 1em;
}
.bottomSpace {
    margin-bottom: 2em;
}

/* overall layout */
.mainContainer {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 6.5em 1fr 6.5em;
}
.content {
    display: grid;
    grid-template-columns: 1fr 60em 1fr;
}
.left,
.right {
    display: flex;
    justify-content: center;
}
.left,
.right,
footer {
    background-color: rgb(243, 243, 243);
}
section {
    margin: 2rem 3rem;
}
.containerLogo {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
}
.logo {
    height: 5rem;
}

/* header and nav */
header {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 68em 1fr;
    border-bottom: 0.05em solid deeppink;
}
nav,
.nav2 {
    display: flex;
    align-items: center;
    gap: 1em;
}
nav {
    padding: 0 3em;
    height: 5em;
}
.nav2 {
    padding: 0 0 2em 0;
    height: 3.5em;
}
.navEntry {
    padding: 0.5em 1.5em;
    border-radius: 20px;
    border: solid rgb(255, 255, 255) 1px;
    color: deeppink;
    font-weight: bold;
    height: 2.5em;
}
.navEntry:hover {
    border: solid deeppink 1px;
}
nav .active {
    background-color: rgb(255, 255, 255);
    border: solid deeppink 1px;
}

/* lists */
.listStyleNone {
    list-style-type: none;
}
li::marker {
    color: deeppink;
}
li {
    margin-left: 1em;
}
