.containerLogo {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
}
.logo,
.logo.active {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: green;
    border: 1px solid black;
}
.logoMobile,
.logoMobile.active {
    display: none;
}
