.sectionLoginForm {
    display: flex;
    justify-content: center;
}

.divLoginForm {
    width: 30em;
}

.tabBar {
    display: flex;
}

.tabBarElement {
    width: 15em;
    height: 3em;
    border-top: 1pt solid white;
    border-bottom: 1px solid;
    border-radius: 0.5rem 0.5rem 0 0;
}

.tabBarElement:has(.active) {
    border-top: 1pt solid;
    border-right: 1pt solid;
    border-bottom: 1pt solid white;
    border-left: 1pt solid;
}

.tabText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    cursor: pointer;
}
