.containerLoginRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: 5.8rem;
}

.containerLoginRegister a {
    background-color: rgb(181, 245, 181);
    color: rgb(12, 166, 12);
    border-radius: 15px;
    padding: 0.5rem 1rem;
}

.containerLoginRegister .active {
    color: black;
    background-color: rgb(12, 166, 12);
    border: none;
}
